<% provide(:title, 'Про нас')%>

<div class="aboutus">
  <h1>Про нас</h1>
  <h2>Основна інформація</h2>
  <p>GoWork - платформа для індивідуальних замовлень за різною складністю. На GoWork можуть залишати замовлення з різних куточків країни, а також світу. На нашому сайті замовник може знайти людину для виконання роботи в таких галузях, як від вигулу собаки до будівельника, від виконавця навчальних робіт до дизайнера та розробника. </p>
  <h2>Наша ціль</h2>
  <p>Допомогти вирішити будь-яке завдання та звільнити твій час на більш приємні речі. Надати роботу будь кому: школяру, студенту або літній людині.</p>
  <h2>Звернення</h2>
  <p>Якщо ти розділюєш наші цінності і хочеш зробити світ краще - приєднюйся до нас!</p>
  <h2>Розробники</h2>
  <a href="https://github.com/mmarusyk">Mykhailo Marusyk</a>
</div>
