<% provide(:title, 'Редагування замовлення') %>

<div class="order">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">      
      <h1>Редагування даних замовлення</h1>
      <%= render 'order_form' %>
    </div>
  </div>
</div>