<% provide(:title, 'Створити замовлення') %>
<div class="create_order">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">      
      <h1>Створити замовлення</h1>

      <%= render 'order_form'%>
    </div>
  </div>
</div>