<% provide(:title, 'Редагувати заявку') %>
<% provide(:text_button, 'Змінити') %>

<div class="proposal">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">      
      <h1>Редагування даних заявки</h1>
      <%= render 'proposal_form' %>
    </div>
  </div>
</div>