<% provide(:title, 'Створити заявку') %>
<% provide(:text_button, 'Створити') %>

<div class="create_order">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">      
      <h1>Створити заявку</h1>

      <%= render 'proposal_form'%>
    </div>
  </div>
</div>