@media ( max-width: 1200px ) {
  header {
    .menu {
      &_left {
        padding-left: 100px;
      }
      &_item {
        padding-right: 4px;
      }
      &_right {
        .menu_item {
          padding-right: 8px;
        }
      }
      &_link {
        font-size: 14px;
      }
    }
  }
  .orders {
    .items {
      .item {
        .gravatar-div {
          margin-top: 25px;
        }
        .text {
          padding-left: 30px;
        }
      }
    }
  }
}

@media ( max-width: 991px ) {
  header {
    height: 110px;
    .menu {
      &_left {
        padding-left: 0px;
        justify-content: space-between;
      }
      &_item {
        padding-right: 22px;
      }
      &_right {
        justify-content: space-between;
      }
      &_link {
        font-size: 16px;
      }
    }
  }
  .fix-dropdown {
    margin-left: -80px;
  }
  .orders {
    .items {
      .item {
        .text {
          padding-left: 20px;
        }
      }
    }
  }
}

@media ( max-width: 767px ) {
  header {
    .logo {
      margin-left: 20%;
    }
    position: relative;
    height: 65vh;
    .menu {
      flex-wrap: wrap;
      &_left {
        padding-left: 0px;
        justify-content: space-between;
      }
      &_item {
        width: 100%;
        padding-right: 22px;
      }
      &_right {
        justify-content: space-between;
        padding-left: 0;
      }
      &_link {
        font-size: 18px;
      }
    }
  }
  .fix-dropdown {
    width: 100vw;
    margin-left: -14px;
  }
  .orders {
    h1 {
      font-size: 32px;
    }
    .orders_buttons {
      flex-wrap: wrap;
      .btn {
        width: 48%;
        margin: 2px;
        white-space: normal;
      }
    }
    .items {
      .item {
        .text {
          padding-left: 0px;
          font-size: 16px;
          &_item {
            padding-left: 10px;
            width: 100%;
            font-size: 14px;
          }
          .title {
            width: 100%;
            font-size: 22px;
            
          }
        }
        .buttons {
          .btn {
            width: 48%;
            margin: 2px;
            white-space: normal;
          }
        }
      }
    }
  }

  .profile {
    .name {
      text-align: center;
      width: 100%;
    }
    .description {
      width: 100%;
    }
  }
  footer{
    .social, .links, .info {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
  }
  .presentation {
    h1 {
      font-size: 30px;
    }
    &_items {
      .item {
        display: flex;
        flex-wrap: wrap;
        .icon {
          width: 260px;
        }
        .title {
          font-size: 22px;
        }
      }
    }
  }
  .category, .cities {
    h2 {
      font-size: 30px;
    }
    .items {
      .item {
        width: 120px;
      }
    }
  }
}