$text-color_1: #05386B;
$text-color_2: rgb(9, 89, 169);
$text-color_3: #EDF5E1;
$background-color_1: #5CDB95;
$border_1: #ddd;

$color_1: #05386B;
$color_2: #379683;
$color_3: #5CDB95;
$color_4: #8EE4AF;
$color_5: #EDF5E1;