@import "bootstrap-sprockets"; 
@import "bootstrap"; 
@import "variables";
@import "mixins";

header {
  background-color: $background-color_1;
  height: 80px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
  .logo {
    display: flex;
    align-items: flex-end;
    width: 100px;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
    &_title {
      padding-left: 5px;
      font-size: 30px;
      font-weight: bold;
      color: $text-color_1;
      &:hover {
        color: $text-color_2;
      }
    }
  }
  .menu {
    display: flex;
    padding-top: 18px;
    &_left {
      justify-content: flex-start;
    }
    &_right {
      justify-content: flex-end;
    }
    &_item {
      padding-right: 10px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_link {
      color: $text-color_1;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      &:hover {
        color: $text-color_2;
        text-decoration: none;
      }
    }
    .add_order {
      padding: 12px;
      background-color: $text-color_1;
      border-radius: 10px; 
      color: $text-color_3;
      &:hover {
        background-color: $text-color_2;
        text-decoration: none;
      }
     }
    
  }
}

.presentation {
  padding-top: 60px;
  color: $text-color_1;
  h1 {
    text-align: center;
    font-size: 48px;
  }
  &_items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    .item {
      width: 100%;
      display: flex;
      padding: 10px 0;
    }
    .icon {
      width: 300px;
    }
    .text {
      padding-left: 10px;
    }
    .title {
      font-size: 28px;
    }
    .desc {
      font-size: 16px;
    }
  }
}
.category {
  padding-top: 80px;
  color: $text-color_1;
  h2 {
    text-align: center;
    font-size: 48px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      padding-top: 60px;
    }
    .text {
      padding-left: 10px;
    }
    .name {
      font-size: 16px;
      text-align: center;
    }
    .desc {
      font-size: 16px;
    }
  }
}
.cities {
  padding-top: 80px;
  padding-bottom: 40px;
  color: $text-color_1;
  h2 {
    text-align: center;
    font-size: 48px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      padding-top: 60px;
    }
    .text {
      padding-left: 10px;
    }
    .name {
      font-size: 16px;
      text-align: center;
    }
    .desc {
      font-size: 16px;
    }
  }
}

footer {
  margin-top: 10px;
  background-color: $background-color_1;
  height: 100px;
  display: flex;
  align-items: center;
  color: $text-color_1;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social, .links {
    display: flex;
    a {
      padding-right: 10px;
      font-weight: 600;
      font-size: 14px;
      color: $text-color_1;
      &:hover {
        color: $text-color_2;
        text-decoration: none;
      }
    }
  }
}


.profile {
  border: 1px solid $border_1;
  color: $text-color_1;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px;
  &_main {
    text-align: center;
  }
  .gravatar {
    margin-right: 10px;
  }
  .gravatar_edit
  {
    margin-top: 15px;
  }
  .email {
    font-size: 22px;
    padding-top: 10px;
  }
  .city {
    font-size: 18px;
    padding-top: 10px
  }
  .created_at {
    font-size: 16px;
    padding-top: 10px
  }
  .name {
    font-size: 40px;
    width: 80%;
  }
  .description {
    padding-top: 10px;
    width: 80%;
  }
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

.signup, .signin{
  padding: 80px 0 40px 0;
  color: $text-color_1;
  h1 {
    font-size: 40px;
    text-align: center;
  }
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
} 
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto; margin-left: 0;
}

.users, .categories {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.categories {
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      display: flex;
      flex-wrap: wrap;
      span {
        width: 100%;
        padding-top: 10px;
        color: $text-color_1;
      }
      .title {
        font-size: 24px;
        
      }
    }
    .buttons {
      padding: 5px;
    }
  }
}





// ORDERS
.orders {
  color: $text-color_1;
  .orders_buttons {
    display: flex;
    .btn {
      margin-right: 5px;
    }
  }
  .items {
    padding: 20px 0 10px 0;
    .item {
      margin-bottom: 10px;
      padding-bottom: 10px;
      display: flex;
      border-bottom: 1px solid $border_1;
      .gravatar-div {
      display: flex;
      align-items: center;
      width: 200px;
        .link-to-user {
          font-size: 18px;
          padding-left: 2px;
          @include link_standart;
        }
      }
      .text {
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        justify-content: space-between;
        &_item {
          padding-left: 10px;
          width: 45%;
          font-size: 16px;
        }
        .title {
          width: 100%;
          font-size: 26px;
          .link {
            @include link_standart;
          }
        }
      }
      .money {
        font-size: 16px;
        width: 100%;
      }
      .buttons {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        .btn {
          width: 100%;
          margin-top: 5px;
        }
      } 
    }
  }
}



//USERS
.users {
  .items{
  .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .information {
      width: 80%;
      display: flex;
      display: wrap;
      justify-content: space-between;
      align-items: center;
      &_add {
        display: flex;
        flex-wrap: wrap;
        span {
          width: 100%;
        }
      }
      .user_link {
        font-size: 18px;
        @include link_standart;
      }
    }
    .buttons {
      // width: 20%;
      padding: 5px;
    }
  }
}
}

@import "media";