@import "bootstrap-sprockets"; 
@import "bootstrap"; 

$text-color_1: #05386B;
$text-color_2: rgb(9, 89, 169);
$text-color_3: #EDF5E1;
$background-color_1: #5CDB95;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} 



header {
  background-color: $background-color_1;
  height: 100px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
  .logo {
    display: flex;
    align-items: center;
    width: 100px;
    text-decoration: none;
    &_title {
      font-size: 40px;
      color: $text-color_1;
      &:hover {
        color: $text-color_2;
      }
    }
  }
  .menu {
    display: flex;
    &_item {
      padding-right: 10px;
      text-transform: uppercase;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_link {
      color: $text-color_1;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      &:hover {
        color: $text-color_2;
        text-decoration: none;
      }
    }
    .add_order {
      padding: 12px;
      background-color: $text-color_1;
      border-radius: 10px; 
      color: $text-color_3;
      &:hover {
        background-color: $text-color_2;
        text-decoration: none;
      }
     }
    &_left {
      justify-content: flex-start;
    }
    &_right {
      justify-content: flex-end;
    }
  }
}

.presentation {
  padding-top: 60px;
  color: $text-color_1;
  h1 {
    text-align: center;
    font-size: 48px;
  }
  &_items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    .item {
      width: 100%;
      display: flex;
      padding: 10px 0;
    }
    .icon {
      width: 300px;
    }
    .text {
      padding-left: 10px;
    }
    .title {
      font-size: 28px;
    }
    .desc {
      font-size: 16px;
    }
  }
}
.category {
  padding-top: 80px;
  color: $text-color_1;
  h2 {
    text-align: center;
    font-size: 48px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      padding-top: 60px;
    }
    .text {
      padding-left: 10px;
    }
    .name {
      font-size: 16px;
      text-align: center;
    }
    .desc {
      font-size: 16px;
    }
  }
}
.cities {
  padding-top: 80px;
  padding-bottom: 40px;
  color: $text-color_1;
  h2 {
    text-align: center;
    font-size: 48px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      padding-top: 60px;
    }
    .text {
      padding-left: 10px;
    }
    .name {
      font-size: 16px;
      text-align: center;
    }
    .desc {
      font-size: 16px;
    }
  }
}

footer {
  background-color: $background-color_1;
  height: 100px;
  display: flex;
  align-items: center;
  color: $text-color_1;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social, .links {
    display: flex;
    a {
      padding-right: 10px;
      font-weight: 600;
      font-size: 14px;
      color: $text-color_1;
      &:hover {
        color: $text-color_2;
        text-decoration: none;
      }
    }
  }
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-color_1;
  padding-top: 80px;
  padding-bottom: 40px;
  .gravatar {
    margin-right: 10px;
  }
  .gravatar_edit
  {
    margin-top: 15px;
  }
  .name {
    font-size: 40px;
    padding-top: 10px;
  }
  .email {
    font-size: 20px;
    padding-top: 10px;
  }
  .city {
    font-size: 16px;
    padding-top: 10px
  }
  .description {
    border: 1px solid #aaa;
    padding-top: 10px;
    width: 80%;
  }
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

.signup {
  padding: 80px 0 40px 0;
}


@media ( max-width: 1200px ) {
  header {
    .logo {
      &_title {
        font-size: 30px;
      }
    }
    .menu {
      &_item {
        padding-right: 6px;
      }
      &_link {
        font-size: 12px;
        text-align: center;
      }
    }
  }  
}
@media ( max-width: 767px ) {
  header {
    .logo {
      &_title {
        font-size: 20px;
      }
    }
    .menu {
      &_item {
        padding-right: 4px;
      }
      &_link {
        font-size: 10px;
        text-align: center;
      }
    }
  }  
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
} 
