@import "bootstrap-sprockets"; 
@import "bootstrap"; 
@import "fonts";
@import "variables";
@import "mixins";

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Regular';
}
body {
  background-color: #f5f5f5;
}
@import "static_pages";



// HEADER
header {
  background-color: $color_1;
  height: 80px;
  position: sticky;
  top: 0px;
  z-index: 1;
  box-shadow: 0px 0px 9px 2px black;
  .logo {
    height: 70px;
    display: flex;
    align-items: center; 
    width: 100px;
    text-decoration: none;
    transition: all 0.4s;
    &:hover {
      opacity: 0.7;
    }
    &_img {
      width: 64px;
    }
    &_title {
      padding: 12px 0 0 10px;
      font-size: 32px;
      font-family: 'Roboto-Medium';
      color: $color_5;
    }
  }
  .menu {
    display: flex;
    padding-top: 17px;
    justify-content: space-between;
    &_item {
      padding-right: 10px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_link {
      padding-top: 10px;
      color: $color_5;
      font-family: 'Roboto-Medium';
      font-size: 18px;
      text-align: center;
      transition: all 0.4s;
      &:hover {
        text-decoration: none;
        color: $color_3;
      }
    }
    .add_order {
      background-color: $color_2;
      padding: 10px;
      border-radius: 10px;
      &:hover {
        color: $color_1;
        background-color: $color_4;
      }
    }
  }
}





// FOOTER
footer {
  margin-top: 10px;
  background-color: $color_1;
  height: 160px;
  display: flex;
  align-items: center;
  font-size: 18px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info {
    color: $color_5;
  }
  .social, .links {
    display: flex;
    a {
      color: $color_5;
      font-family: 'Roboto-Medium';
      text-align: center;
      transition: all 0.4s;
      padding-right: 15px;
      &:hover {
        text-decoration: none;
        color: $color_3;
      }
    }
  }
}





// STATIC PAGES
.presentation {
  color: $color_1;
  padding-top: 20px;
  h1 {
    text-align: center;
    font-size: 48px;
  }
  &_items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    .item {
      width: 100%;
      display: flex;
      padding: 10px 0;
    }
    .icon {
      width: 300px;
    }
    .text {
      padding-left: 10px;
    }
    .title {
      font-size: 28px;
    }
    .desc {
      font-size: 16px;
    }
  }
}
.category {
  padding-top: 80px;
  color: $color_1;
  h2 {
    text-align: center;
    font-size: 48px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      padding-top: 60px;
    }
    .text {
      padding-left: 10px;
    }
    .name {
      font-size: 16px;
      text-align: center;
    }
    .desc {
      font-size: 16px;
    }
  }
}
.cities {
  color: $color_1;
  padding-top: 80px;
  padding-bottom: 40px;
  color: $color_1;
  h2 {
    text-align: center;
    font-size: 48px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      padding-top: 60px;
    }
    .text {
      padding-left: 10px;
    }
    .name {
      font-size: 16px;
      text-align: center;
    }
    .desc {
      font-size: 16px;
    }
  }
}




// HELP

.help {
  color: $color_1;
  font-size: 24px;
  h1 {
    text-align: center;
    font-size: 48px;
  }
  h2 {
    text-align: center;
    font-size: 34px;
    .icon {
      width: 64px;
      padding-right: 20px;
    }
  }
  &_profile, &_order, &_request, &_response {
    margin-top: 80px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    width: 100%;
    margin-top: 40px;
    a {
      color: $color_1;
      transition: all 0.4s;
      &:hover {
        color: $color_2;
        text-decoration: none;
      }
    }
    .dcont {
      border: 2px solid $color_4;
      border-radius: 10px;
      padding: 10px 10px 10px 60px;
    }
  }
}




// HOW ITS WORK
.howitswork {
  margin-bottom: 10px;
  color: $color_1;
  font-size: 24px;
  text-align: center;
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 34px;
    margin-top: 80px;
  }
  .icon {
    width: 64px;
  }
  h3 {
    font-size: 28px;
  }
  .for_worker, .for_user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    width: 80%;
    margin-top: 60px;
  }
  .direction {
    width: 80%;
    .icon {
      width: 32px;
    }
  }
  .add_order {
    text-transform: uppercase;
    font-family: 'Roboto-Medium';
    width: 300px;
    color: $color_1;
    background-color: $color_4;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.4s;
    &:hover {
      color: $color_5;
      background-color: $color_2;
      text-decoration: none;
    }
  }
}



//ABOUT
.aboutus {
  margin-bottom: 10px;
  color: $color_1;
  font-size: 24px;
  text-align: center;
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 34px;
    margin-top: 80px;
  }
  a {
    color: $color_1;
    transition: all 0.4s;
    &:hover{
      color:$color_3;
      text-decoration: none;
    }
  }
}


.profile {
  border: 1px solid $border_1;
  color: $text-color_1;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px;
  &_main {
    text-align: center;
  }
  .gravatar {
    margin-right: 10px;
  }
  .gravatar_edit
  {
    margin-top: 15px;
  }
  .email {
    font-size: 22px;
    padding-top: 10px;
  }
  .city {
    font-size: 18px;
    padding-top: 10px
  }
  .created_at {
    font-size: 16px;
    padding-top: 10px
  }
  .name {
    font-size: 40px;
    width: 80%;
  }
  .description {
    padding-top: 10px;
    width: 80%;
  }
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

.signup, .signin{
  padding: 80px 0 40px 0;
  color: $text-color_1;
  h1 {
    font-size: 40px;
    text-align: center;
  }
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
} 
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto; margin-left: 0;
}

.users, .categories {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.categories {
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      display: flex;
      flex-wrap: wrap;
      span {
        width: 100%;
        padding-top: 10px;
        color: $text-color_1;
      }
      .title {
        font-size: 24px;
        
      }
    }
    .buttons {
      padding: 5px;
    }
  }
}





// ORDERS
.orders {
  color: $text-color_1;
  &_buttons {
    display: flex;
    .btn {
      margin-right: 5px;
    }
  }
  .items {
    padding: 20px 0 10px 0;
    .item {
      margin-bottom: 10px;
      padding-bottom: 10px;
      display: flex;
      border-bottom: 1px solid $border_1;
      .gravatar-div {
      display: flex;
      align-items: center;
      width: 200px;
        .link-to-user {
          font-size: 18px;
          padding-left: 2px;
          @include link_standart;
        }
      }
      .text {
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        justify-content: space-between;
        &_item {
          padding-left: 10px;
          width: 45%;
          font-size: 16px;
        }
        .title {
          width: 100%;
          font-size: 26px;
          .link {
            @include link_standart;
          }
        }
      }
      .money {
        font-size: 16px;
        width: 100%;
      }
      .buttons {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        .btn {
          width: 100%;
          margin-top: 5px;
        }
      } 
    }
  }
}

.order-more{
  padding: 10px 0 10px 0;
  color: $color_1;
  font-size: 16px;
  .labell {
    margin-top: 15px;
    font-size: 30px;
  }
  .title {
    font-size: 40px;
  }
  .price {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 20px;
  }
  .extended-data {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    .item {
      margin-right: 20px;
    }
  }
  .user_info {
    display: flex;
    flex-wrap: wrap;
    .item {
      margin-top: 10px;
      margin-right: 40px;
    }
    .llabel {
    width: 100%;
    margin-top: 15px;
    font-size: 30px;
    padding-top: 0;
    &_link_profile{ 
      color: $color_1;
      &:hover {
        text-decoration: none;
        color:$color_2;
      }
    }
    }
  }
}



//USERS
.users {
  .search {
    width: 100%;
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding-left: 40px;
    .input {
      width: 90%;
    }
    .button {
      width: 10%;
    }
  }
  .items{
  .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .information {
      width: 80%;
      display: flex;
      display: wrap;
      justify-content: space-between;
      align-items: center;
      &_add {
        display: flex;
        flex-wrap: wrap;
        span {
          width: 100%;
        }
      }
      .user_link {
        font-size: 18px;
        @include link_standart;
      }
    }
    .buttons {
      // width: 20%;
      padding: 5px;
    }
  }
}
}

.responses {
  color: $text-color_1;
  .items {
    .item {
      display: flex;
      margin: 10px 10px;
      border-bottom: 1px solid $border_1;
      padding-bottom: 10px;
      .response {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        &_user {
          width: 30%;
        }
        &_order {
          width: 70%;
        }
        &_content {
          width: 100%;
        }
      }
      .score {
        background-image: url(image_path('icons/shapes-and-symbols.png'));
        background-size: cover;
        background-size: contain;
        background-repeat: no-repeat;
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        &_text {
          padding-top: 5px;
          font-size: 32px;
        }
      }
    }
  }
}

@import "media";