$text-color_1: #05386B;
$text-color_2: rgb(9, 89, 169);
$text-color_3: #EDF5E1;
$background-color_1: #5CDB95;
$border_1: #aaa;

.order-more{
  padding: 10px 0 10px 0;
  color: $text-color_1;
  font-size: 16px;
  .labell {
    margin-top: 15px;
    font-size: 30px;
  }
  .title {
    font-size: 40px;
  }
  .price {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 20px;
  }
  .description {
    // margin-top: 5px;
  }
  .skills {
    // margin-top: 5px;
  }
  .extended-data {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    .item {
      margin-right: 10px;
    }
  }
}