<footer>
  <div class="container">
    <div class="social">
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
      <a href="#">YouTube</a>
    </div>
    <div class="info">
      GoWork Website 2020
    </div>
    <div class="links">
      <%= link_to 'Як це працює', '#' %>
      <%= link_to 'Про нас', static_pages_about_path %>
      <%= link_to 'Допомога', static_pages_help_path %>
      </ul>
    </div>
  </div>
</footer>